<%- include('./templates/cabecera') %>

    <div class="container is-fluid">
        <section
            class="section is-flex is-justify-content-center is-align-content-center is-align-items-center is-flex-direction-column">
            <h1 class="title">Galería de imágenes</h1>
            <h2 class="subtitle mt-2">
                Algunas imágenes random para practicar.
            </h2>
           
            <section class="section is-flex is-justify-content-space-around is-flex-wrap-wrap">
                <div class="container is-flex is-justify-content-center m-1">
                    <img class="has-ratio m-1" width="400" height="120" src="/assets/mixeta.jpeg" alt="Foto de la mixeta">
                </div>
                <div class="container is-flex is-justify-content-center m-1">
                    <img class="has-ratio m-1" width="400" height="120" src="/assets/mixeta2.jpeg" alt="Foto de la mixeta">
                </div>
                <div class="container is-flex is-justify-content-center m-1">
                    <img class="has-ratio m-1" width="400" height="120" src="/assets/planta.jpeg" alt="Foto de una planta">
                </div>
            </section>

        </section>
    </div>

    <%- include('./templates/footer') %>