<%- include('./templates/cabecera') %>

    <div class="container is-fluid">
        <section
            class="section is-flex is-justify-content-center is-align-content-center is-align-items-center is-flex-direction-column">
            <h1 class="title">Página principal</h1>
            <h2 class="subtitle mt-2">
                Web para practicar express + ejs + routers + Bulma + tabla dinámica
                
            </h2>
        </section>
    </div>



    <%- include('./templates/footer') %>